<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436274307446-l8700ncglkho9m0r8vkcv7mvj9pafegr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436274307446-l8700ncglkho9m0r8vkcv7mvj9pafegr</string>
	<key>API_KEY</key>
	<string>AIzaSyDgb26prlM7DgbcOn8m6-rp7GgLLvnclbY</string>
	<key>GCM_SENDER_ID</key>
	<string>436274307446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sytnik.Wordy</string>
	<key>PROJECT_ID</key>
	<string>wordy-a720d</string>
	<key>STORAGE_BUCKET</key>
	<string>wordy-a720d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436274307446:ios:fa3f727d616821ce335a57</string>
</dict>
</plist>